/**
 * @name Aroma White
 * @author PhoenixAceVFX#6501
 * @version 1.5
 * @description A mod of Aurora I personally maintain
 * @source https://github.com/PhoenixAceVFX/Aroma-White
*/
/*Main Theme*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/main/base.css";
/*NEEDED FOR THEME TO FUNCTION!!!*/
/*After Mods*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/aftermods.css');*/
/*Off By Default*/
/*DEPRICATED*/
/*Individual Mods*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/serverlist.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/attachtoright.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/betterspotifyplayer.css');*/
/*Off By Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/bigavi.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/channelcolors.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/chatbox.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/codeblocks.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/customusernames.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/discordupdate.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/enlargechannelnames.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/hoverchatbuttons.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/hyperlinkhover.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/jumppill.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/largefilemodal.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/nametags.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/newrole.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/profilemod.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/rainbowmentions.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/rainbowtext.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/roundcontextmodals.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/roundreactions.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/searchmodal.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/spoilers.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/spotifycontrols.css');*/
/*Off By Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/startprompt.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/toolbarsearch.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/vcontrol.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/clyde.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/spotifyspin.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/rgbserver.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/info.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/rgbcontrols.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/camfix.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/scrollbar.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/uielements.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/serverlisthover.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/colorsvg.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/descdrag.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/glowhash.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/betterbuttons.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/betterspotifyplayerv2.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/unreadpill.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/oldmentions.css');*/
/*Off By Default*/
@import "https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/Discolored.css";
/*On by Default*/
@import "https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/app/import.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/switchestobuttons.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/servermembersdrawer.css');*/
/*Off By Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/channeldrawers.css');*/
/*Off By Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/loud.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/messagebubbles.css');*/
/*Off By Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/voicecontrols.css');*/
/*Off By Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/oldchanneldrawer.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/home.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/bannerlock.css";
/*On by Default*/
@import "https://raw.githack.com/leeprky/FullyThemedDiscord/main/source.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/megaemoji.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/homecolor.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/statussize.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/statusbar.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/mutetext.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/newheaders.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/friendgrid.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/rgbhome.css');*/
/*Off By Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/listtest.css');*/
/*Off By Default*/
@import "https://tropix126.github.io/BetterDiscordStuff/materialcons/base.css";
/*On by Default*/
@import "https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/round-stuff.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/spotifystatus.css";
/*On by Default*/
@import "https://raw.githubusercontent.com/Controlfreak707/Channel-Icons/main/channelicons.theme.css";
/*On by Default*/
@import "https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/round-stuff.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/modals.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/activityscroll.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/modernmentions.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/statusmodals.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/newbuttons.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/spotifybar.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/serverbuttons.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/audioname.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/betterfriends.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/bannerrgb.css');*/
/*Off By Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/verifiedbots.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/banners.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/window.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/imagefocus.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/chatbarcolors.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/clearchatbar.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/compacthome.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/emoji.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/imgutilfix.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/icos.css";
/*On by Default*/
@import "https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/hideblocked.css";
/*On by Default*/
/*@import url('https://trigon.systems/api/v3/powercord/themes/aroma-white/mods/prideful.css');*/
/*Off by Default*/
@import "https://leafyluigi.github.io/discord-themes/pyrite/build/userModalLayout.css";
/*On by Default*/
&:root {
	/*User Modal Size*/
	--user-modal-width: 900px;
	--user-modal-height: 600px;
/*Color Variables*/
	--main-color: linear-gradient(150deg, var(--gradient1), var(--gradient2));
/*Accent Color of the Theme*/
	--gradient1: #3ecc9c;
/*First Gradient Color*/
	--gradient2: #185a9d;
/*Second Gradient Color*/
	--hover-color: rgb(67, 206, 162);
/*Secondary Accent of the Theme*/
	--main-color-faded: rgba(67, 206, 162, 0.2);
/*Faded Main Color*/
/*Backdrop Variables*/
	--backdrop: url(https://i.imgur.com/xcjXx3E.jpg);
/*Normal Backdrop*/
	--backdropblurred: url(https://i.imgur.com/ExNrzGV.jpg);
/*Darker/Blurred Version of Backdrop*/
	--backdrop-darkness: transparent;
/*Brightness of var(--backdrop);*/
/*Roundness Variables*/
	--chat-avatar-roundness: 5px !important;
/*Roundness of chat avatars*/
	--media-roundness: 50px !important;
/*General Roundness*/
	--guild-hovered-roundness: 12px !important;
/*Roundness of servers on hover*/
/*Status Variables*/
	--online: #43b581 !important;
/*Color When someone is Online*/
	--idle: #faa61a !important;
/*Color When someone is Idle*/
	--dnd: #f04747 !important;
/*Color When someone is in Do Not Disturb*/
	--offline: #636b75 !important;
/*Color When someone is offline*/
	--invisible: #747f8d !important;
/*Color When someone is Invisible*/
	--streaming: #643da7 !important;
/*Color When someone is Streaming*/;
}