/**
 * @name Aroma White
 * @author PhoenixAceVFX#6501
 * @version 1.3.2
 * @description A mod of Aurora I personally maintain
 * @source https://github.com/PhoenixAceVFX/Aroma-White
*/

/*Main Theme*/
@import url('https://phoenixacevfx.github.io/Aroma-White/main/base.css');
/*After Mods*/
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/aftermods.css');*/
/*Individual Mods*/
@import url('https;//phoenixacevfx.github.io/Aroma-White/mods/serverlist.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/attachtoright.css');
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/betterspotifyplayer.css');*/
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/bigavi.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/channelcolors.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/chatbox.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/codeblocks.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/customusernames.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/discordupdate.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/enlargechannelnames.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/hoverchatbuttons.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/hyperlinkhover.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/jumppill.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/largefilemodal.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/nametags.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/newrole.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/profilemod.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/rainbowmentions.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/rainbowtext.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/roundcontextmodals.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/roundreactions.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/searchmodal.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/spoilers.css');
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/spotifycontrols.css');*/
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/startprompt.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/toolbarsearch.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/vcontrol.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/clyde.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/spotifyspin.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/rgbserver.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/info.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/rgbcontrols.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/camfix.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/scrollbar.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/uielements.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/serverlisthover.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/colorsvg.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/descdrag.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/glowhash.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/betterbuttons.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/betterspotifyplayerv2.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/unreadpill.css');
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/oldmentions.css');*/
@import url('https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/Discolored.css');
@import url('https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/app/import.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/switchestobuttons.css');
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/servermembersdrawer.css');*/
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/channeldrawers.css');*/
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/loud.css');
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/messagebubbles.css');*/
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/voicecontrols.css');*/
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/oldchanneldrawer.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/home.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/bannerlock.css');
@import url('https://raw.githack.com/leeprky/FullyThemedDiscord/main/source.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/megaemoji.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/homecolor.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/statussize.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/statusbar.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/mutetext.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/newheaders.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/friendgrid.css');
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/rgbhome.css');*/
/*@import url('https://phoenixacevfx.github.io/Aroma-White/mods/listtest.css');*/
@import url('https://tropix126.github.io/BetterDiscordStuff/materialcons/base.css');
@import url('https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/round-stuff.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/spotifystatus.css');
@import url('https://raw.githubusercontent.com/Controlfreak707/Channel-Icons/main/channelicons.theme.css');
@import url('https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/round-stuff.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/modals.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/activityscroll.css');
@import url('https://phoenixacevfx.github.io/Aroma-White/mods/modernmentions.css');
:root {	
/*Color Variables*/	
	--main-color: linear-gradient(150deg, var(--gradient1), var(--gradient2)); /*Accent Color of the Theme*/	
	--gradient1: #3ecc9c; /*First Gradient Color*/	
	--gradient2: #185a9d; /*Second Gradient Color*/	
	--hover-color: rgb(67, 206, 162); /*Secondary Accent of the Theme*/	
	--main-color-faded: rgba(67, 206, 162, 0.2); /*Faded Main Color*/	
/*Backdrop Variables*/	
	--backdrop: url(https://i.imgur.com/xcjXx3E.jpg); /*Normal Backdrop*/	
	--backdropblurred: url(https://i.imgur.com/ExNrzGV.jpg); /*Darker/Blurred Version of Backdrop*/	
	--backdrop-darkness:transparent; /*Brightness of var(--backdrop);*/	
/*Roundness Variables*/	
	--chat-avatar-roundness:5px !important; /*Roundness of chat avatars*/	
	--media-roundness:50px !important; /*General Roundness*/	
	--guild-hovered-roundness:12px !important; /*Roundness of servers on hover*/	
/*Status Variables*/	
	--online: #43b581 !important; /*Color When someone is Online*/	
	--idle: #faa61a !important; /*Color When someone is Idle*/	
	--dnd: #f04747 !important; /*Color When someone is in Do Not Disturb*/	
	--offline: #636b75 !important; /*Color When someone is offline*/	
	--invisible: #747f8d !important; /*Color When someone is Invisible*/	
	--streaming: #643da7 !important; /*Color When someone is Streaming*/	
}
