/*Main Theme*/
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/main/base.css');
/*After Mods*/
/*@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/aftermods.css');*/
/*Individual Mods*/
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/attachtoright.css');
/*@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/betterspotifyplayer.css');*/
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/bigavi.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/channelcolors.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/chatbox.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/codeblocks.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/customusernames.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/discordupdate.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/enlargechannelnames.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/hoverchatbuttons.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/hyperlinkhover.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/jumppill.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/largefilemodal.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/nametags.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/newrole.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/profilemod.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/rainbowmentions.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/rainbowtext.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/roundcontextmodals.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/roundreactions.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/searchmodal.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/spoilers.css');
/*@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/spotifycontrols.css');*/
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/startprompt.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/toolbarsearch.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/vcontrol.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/clyde.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/spotifyspin.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/rgbserver.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/info.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/rgbcontrols.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/camfix.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/scrollbar.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/uielements.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/serverlisthover.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/colorsvg.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/descdrag.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/glowhash.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/betterbuttons.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/betterspotifyplayerv2.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/unreadpill.css');
@import url('https://phoenixacevfx.github.io/Custom-Curora-PC-Theme/mods/oldmentions.css');
:root {	
/*Color Variables*/	
	--main-color: linear-gradient(150deg, var(--gradient1), var(--gradient2)); /*Accent Color of the Theme*/	
	--gradient1: #3ecc9c; /*First Gradient Color*/	
	--gradient2: #185a9d; /*Second Gradient Color*/	
	--hover-color: rgb(67, 206, 162); /*Secondary Accent of the Theme*/	
	--main-color-faded: rgba(67, 206, 162, 0.2); /*Faded Main Color*/	
/*Backdrop Variables*/	
	--backdrop: url(https://i.imgur.com/xcjXx3E.jpg); /*Normal Backdrop*/	
	--backdropblurred: url(https://i.imgur.com/ExNrzGV.jpg); /*Darker/Blurred Version of Backdrop*/	
	--backdrop-darkness:transparent; /*Brightness of var(--backdrop);*/	
/*Roundness Variables*/	
	--chat-avatar-roundness:5px !important; /*Roundness of chat avatars*/	
	--media-roundness:50px !important; /*General Roundness*/	
	--guild-hovered-roundness:12px !important; /*Roundness of servers on hover*/	
/*Status Variables*/	
	--online: #43b581 !important; /*Color When someone is Online*/	
	--idle: #faa61a !important; /*Color When someone is Idle*/	
	--dnd: #f04747 !important; /*Color When someone is in Do Not Disturb*/	
	--offline: #636b75 !important; /*Color When someone is offline*/	
	--invisible: #747f8d !important; /*Color When someone is Invisible*/	
	--streaming: #643da7 !important; /*Color When someone is Streaming*/	
}
