.iconWrapper-2OrFZ1[aria-label="Update Ready!"] {
  position: fixed;
  right: 2px;
  top: 80px;
  background: var(--background-tertiary);
  border-radius: 10px;
  width: 300px;
  height: 130px;
  border-right: 5px solid #43B581;
  transition: background 1s;
}

.iconWrapper-2OrFZ1[aria-label="Update Ready!"]::before {
  position: relative;
  display: block;
  content: "A discord update has been released.";
  font-weight: 700;
  top: 13px;
  text-align: center;
}

.iconWrapper-2OrFZ1[aria-label="Update Ready!"]::after {
  position: relative;
  display: block;
  content: "It is recommended to install it now to receive brand new features & patches.";
  top: 22px;
  text-align: center;
}

.iconWrapper-2OrFZ1[aria-label="Update Ready!"] > .icon-22AiRD {
  position: fixed;
  right: 148px;
  top: 173px;
}
