.tip-2cgoli, .tipTitle-GL9qAt {
  font-size: 0px!important;
}
.tip-2cgoli .keybind-2jbzrT {
  display:none;
}
.tipTitle-GL9qAt::after {
  font-size: 16px;
  content: "Starting Discord"
}
.tip-2cgoli::after {
  font-size: 16px;
  content: 'Welcome Back!';
}
