/* Feature description */
/*More emoji power*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureEmoji-3pTtR2 > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#FFA600;
}
/*Personalized profile*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureProfile-tTo0C- > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#00E0A7;
}
/*support your server*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featurePremiumGuild-2KpCr6 > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color: #5C87CC;
}
/*rep your status*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureBadge-3ZA-Ca > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color: #FFAFFF;
}
/*bigger uploads*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureUploadSize-2CAVFL > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#776BFF;
}
/*hd video*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureGoLive-30cvVw > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color: #FA4E89;
}
/*longer messages*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureLongerMessageContent-1RADxx > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#ffd836;
}
/*more servers*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureMoreServers-14Thw5 > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#a57ef8
}