/*variables: change your desired accent colour here*/
:root { 
  --accent: #00fff2;
}
/* fancy home icon part */
.childWrapper-anI2G9 {
    --prop: .35s ease-in-out;  
    color: #000000;
    background-color: var(--accent);
    transition: color var(--prop),
                background-color var(--prop);
}
.childWrapper-anI2G9:hover,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    color: var(--accent);
    background-color: transparent;
}
/* spin da home icon */
  @keyframes spin-logo {
    0%   { transform: rotate(0deg); }
    50%  { color: var(--accent); }
    100% { transform: rotate(360deg); }
}
.childWrapper-anI2G9:hover > .homeIcon-FuNwkv,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 > .homeIcon-FuNwkv {
    animation: spin-logo 10s linear infinite; /*you can change speed of spin here*/
}