/*moves server list to right side*/
#app-mount .guilds-1SWlCJ {
    right: 0;
    left: auto;
}
#app-mount .base-3dtUhz {
    left: 0;
    right: 72px;
    border-radius: 0 8px 0 0;
}
#app-mount .sidebar-2K8pFh {
    border-radius: 0;
}
/*moves server list to right side*/