.powercord-spotify {
  transition: right 0.4s;
  border-top-left-radius: 25px;
  position: fixed;
  z-index: 1;
  bottom: 0.5px;
  right: -193px;
  width: 240px;
  background-color: var(--background-secondary);
  border-top: 1px solid var(--spotify-color);
  border-left: 1px solid var(--spotify-color);
}

.powercord-spotify:hover {
    right: 0px;
}
