.theme-dark {
    --spotify-background-blur: 2px;
    --spotify-background-blur-modal: 3px;
    --spotify-background-blur-hover: 3px; 
}
.header-QKLPzZ, .headerFill-adLl4x {backdrop-filter: blur(var(--spotify-background-blur-modal)); border-radius: 0px 0px 12px 12px}
.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {background-position: center; border-radius: 0px 0px 12px 12px}
.headerFill-adLl4x, .header-QKLPzZ {background-color: transparent; border-radius: 0px 0px 12px 12px}
.activityUserPopout-2yItg2, .activity-11LB_k, .headerTop-3C2Zn0 {backdrop-filter: blur(var(--spotify-background-blur-modal)); border-radius: 0px 0px 12px 12px}
.powercord-spotify .spotify-seek {backdrop-filter: blur(0px); }
.container-3baos1, .powercord-spotify {backdrop-filter: blur(var(--spotify-background-blur)); border-radius: var(--modal-border-radius);}
.powercord-spotify:hover + .container-3baos1:hover {backdrop-filter: brightness(100%)}
.powercord-spotify:hover + .container-3baos1 {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 0px 0px 20px 20px}
.powercord-spotify:hover {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 20px 20px 0px 0px}
.container-3baos1:hover + .container-3baos1 {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 20px 20px 0px 0px}
.container-3baos1:hover {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 20px 20px 0px 0px}
.avatar-SmRMf2.spotify-cover {display: none;}
.subtext-3CDbHg {color: var(--text-normal)}
.nameTag-3uD-yy { margin-left: -7px;}
.container-3baos1 .avatar-SmRMf2 {margin-left: -5px;}
.nameTag-3uD-yy.canCopy-2VBT7N {margin-left: 0px;}
.theme-light {
    --spotify-background-blur: 2px;
    --spotify-background-blur-modal: 3px;
    --spotify-background-blur-hover: 3px; 
}
.header-QKLPzZ, .headerFill-adLl4x {backdrop-filter: blur(var(--spotify-background-blur-modal)); border-radius: 0px 0px 12px 12px}
.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {background-position: center; border-radius: 0px 0px 12px 12px}
.headerFill-adLl4x, .header-QKLPzZ {background-color: transparent; border-radius: 0px 0px 12px 12px}
.activityUserPopout-2yItg2, .activity-11LB_k, .headerTop-3C2Zn0 {backdrop-filter: blur(var(--spotify-background-blur-modal)); border-radius: 0px 0px 12px 12px}
.powercord-spotify .spotify-seek {backdrop-filter: blur(0px); }
.container-3baos1, .powercord-spotify {backdrop-filter: blur(var(--spotify-background-blur)); border-radius: var(--modal-border-radius);}
.powercord-spotify:hover + .container-3baos1:hover {backdrop-filter: brightness(100%)}
.powercord-spotify:hover + .container-3baos1 {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 0px 0px 20px 20px}
.powercord-spotify:hover {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 20px 20px 0px 0px}
.container-3baos1:hover + .container-3baos1 {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 20px 20px 0px 0px}
.container-3baos1:hover {backdrop-filter: blur(var(--spotify-background-blur-hover));border-radius: 20px 20px 0px 0px}
.avatar-SmRMf2.spotify-cover {display: none;}
.title-eS5yk3 {color: #ffffff}
.panels-j1Uci_ .button-14-BFJ {color: #b9bbbe}
.subtext-3CDbHg {color: #dcddde}
.nameTag-3uD-yy { margin-left: -7px;}
.container-3baos1 .avatar-SmRMf2 {margin-left: -5px;}
.nameTag-3uD-yy.canCopy-2VBT7N {margin-left: 0px;}